.sidebar[data-background-color="black"] {
  background-color: #00EDFF;
}

/*.sidebar .sidebar-wrapper .nav .active {
    background: linear-gradient(60deg, #00EDFF, #00EDFF);

}*/
.card-header-icon[data-background-color="rose"] {
  background: linear-gradient(60deg, #00EDFF, #00EDFF);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(3, 178, 255, 0.4);
  border: solid #ffffff thin;
}

/* .active {
    background: linear-gradient(60deg, #00EDFF, #00EDFF);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(3, 178, 255, 0.4);
    border: solid #ffffff thin;
}*/

.sidebar[data-active-color="rose"] li.active>a {
  background-color: #00EDFF;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.perfect-scrollbar-on .main-panel, .main-panel {
  overflow: scroll;
}


.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open > .btn.btn-danger.dropdown-toggle, .open > .btn.btn-danger.dropdown-toggle:focus, .open > .btn.btn-danger.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-danger, .navbar .navbar-nav > li > a.btn.btn-danger:hover, .navbar .navbar-nav > li > a.btn.btn-danger:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active, .navbar .navbar-nav > li > a.btn.btn-danger.active, .navbar .navbar-nav > li > a.btn.btn-danger:active:focus, .navbar .navbar-nav > li > a.btn.btn-danger:active:hover, .navbar .navbar-nav > li > a.btn.btn-danger.active:focus, .navbar .navbar-nav > li > a.btn.btn-danger.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-danger.dropdown-toggle:hover {
  background-color: #00EDFF;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}



body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}
.card [data-background-color="rose"], .card [data-background-color="purple"] {
    background: linear-gradient(60deg, #00EDFF, #00EDFF);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(3, 178, 255, 0.4);
    border: solid #ffffff thin;
}